# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust / Cargo
/target/

# Editor
*.swp
*.swo
*~
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment
.env
